@import "../../assest/scss/variable.scss";

.header {
    display        : flex;
    justify-content: space-between;

    &__title {
        margin-top   : 0px;
        margin-bottom: 0px;
        padding      : 16px;
        font-size    : 30px;
    }

    .btn__add {
        height   : 40px;
        min-width: 40px;
        width    : 100px;
        margin   : 16px;

        .noti__icon {
            margin-right: 4px;
        }

        .text-add {
            visibility: visible;
            display   : inline-block;
        }

    }
}