.App {
  background : #2bc0e4;
  background : -webkit-gradient(linear, right top, left top, from(#eaecc6), to(#2bc0e4));
  background : linear-gradient(270deg, #eaecc6, #2bc0e4);
  height     : 100vh;
  box-sizing : border-box;
  padding-top: 32px;
}

.todo {
  background-color: azure;
  background      : linear-gradient(270deg, #eaecc6, #f9c32a);
  width           : 500px;
  height          : 700px;
  border-radius   : 4px;
  margin          : 0px auto;
  overflow        : hidden;
  position        : relative;
  box-shadow      : 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .App {
    padding-top: 0;
  }

  .todo {
    height        : 100vh;
    width         : 100vw;
    padding-bottom: 0;
  }
}